.nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  position: relative;
}

.nav__main {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 24px;
}

.nav__title {
  word-wrap: nowrap;
}

.nav__logo {
  height: 50px;
}

.nav__list {
  right: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 24px;
}

.nav__list-item {
  margin-right: 40px;
  font-weight: 700;
  transition: all 0.25s ease;
}

.nav__list-item:hover {
  color: rgba(79, 250, 123, 0.8);
  cursor: pointer;
}

.nav__burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .nav__burger {
    display: inline-block;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 24px;
    position: relative;
  }

  .nav__burger-1-active {
    transform: rotate(45deg);
    top: 50%;
    position: absolute;
  }

  .nav__burger-3-active {
    transform: rotate(-45deg);
    top: 50%;
    position: absolute;
  }

  .nav__burger-2-active {
    opacity: 0;
  }

  .nav__burger-1,
  .nav__burger-2,
  .nav__burger-3 {
    width: 25px;
    height: 3px;
    background-color: #f5f5f5;
    transition: all ease 0.25s;
  }

  .nav__main {
    width: calc(100% - 70px);
  }

  .nav__title {
    font-size: 24px;
  }

  .nav__list {
    position: absolute;
    margin: 450px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 40vh;
    transform: translateX(100%);
    background-color: #1a1a1d;
    overflow-x: hidden;
    min-height: 400px;
    max-width: 300px;
    min-width: 200px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav__list-item {
    margin: 0;
  }

  .nav__list-active {
    transform: translateX(0);
    position: fixed;
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .nav__logo {
    display: none;
  }
}
