* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #202124;
  color: #e5e5e5;
}

body,
html {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

header {
  padding: 0 calc((100vw - 1200px) / 2);
  position: fixed;
  width: 100vw;
  background-color: #191a1c;
}

main {
  padding: 0 calc((100vw - 1200px) / 2);
  margin: 0 24px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #191a1c;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(141, 141, 141, 0.75);
}

a {
  text-decoration: none;
  color: unset;
}
