.section__grid-item {
  background-color: #191a1c;
  height: 300px;
  border-radius: 5px;
  padding: 0px;
  width: 30vw;
  max-width: 340px;
  overflow: hidden;
  padding: 15px 15px;
  transition: border 0.3s ease;
  border: 1px solid transparent;
}

.section__grid-item:hover {
  border: 1px solid #6feb7a;
}

.section__grid-data {
  margin-top: 10px;
  margin-bottom: 20px;
}

.section__grid-data p {
  margin-top: 5px;
}

@media only screen and (max-width: 1024px) {
  .section__grid-item {
    width: 40vw;
    max-width: none;
  }
}

@media only screen and (max-width: 768px) {
  .section__grid-item {
    width: 80vw;
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 520px) {
  .section__grid-item {
    height: 400px;
  }
}
